/.metadata/
/.recommenders/
/output/
/net.linkedbuildingdata.rdf.versioning/
/Servers*/
/*test*/
/*web*/
/drumbeat-ifc.processing.grounding.ifc.extended/
/drumbeat-service*/
/drumbeat-rdf.versioning/
/drumbeat-interface/
/*TempFiles/